section h2 {
  font-size: 18px;
  padding: 27px 18px;
}

section form {
  border-bottom: 1px solid #f3f3f3;
  padding: 12px 22px;

  position: relative;
}
<<<<<<< HEAD
=======

>>>>>>> d59f4163d3b224d769d9b75fca51900e25892ce7
section form input {
  width: 100%;
  padding: 10px;
  padding-left: 24px;
  border: 0;
  outline: 0;
}
section form input:focus {
  border-bottom: 1px solid #000;
}
<<<<<<< HEAD
=======

>>>>>>> d59f4163d3b224d769d9b75fca51900e25892ce7
section form .i-search {
  display: block;
  width: 20px;
  height: 20px;

  position: absolute;
<<<<<<< HEAD
  top: 22px;
=======
  top: 24px;
>>>>>>> d59f4163d3b224d769d9b75fca51900e25892ce7
  left: 26px;
  background-position: -40px -40px;
}

<<<<<<< HEAD
section .all {
}
section .all > li {
  border-bottom: 1px solid #f3f3f3;
}
section .all > li > a {
  padding: 22px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f3f3f3;
}
section .all > li > a .i-arr1 {
  display: block;
  width: 12px;
  height: 16px;

  background-position: -104px -19px;
}
section .all > li > a.active .i-arr1 {
=======
section .all {}

section .all>li {
  border-bottom: 1px solid #f3f3f3;
}

section .all>li>a {
  padding: 22px;
  display: flex;
  justify-content: space-between;
}

section .all>li>a span {
  border-bottom: 1px solid #f3f3f3f3;
}

section .all>li>a .i-arr1 {
  display: block;
  width: 12px;
  height: 16px;
  background-position: -104px -19px;
}

section .all>li>a.active .i-arr1{
>>>>>>> d59f4163d3b224d769d9b75fca51900e25892ce7
  display: none;
}
section .all .qna {
  display: none;
<<<<<<< HEAD
}
section .qna li {
}
section .qna li a {
  padding: 30px 22px;
  border-bottom: 1px solid #f3f3f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
=======
  background-color: #f7f7f7;
  padding: 34px 22px;
  color: #6f6f6f;
}

section .qna li {}

section .qna li a {
  padding: 30px 22px;
  border-bottom: 1px solid #f3f3f3f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
section .qna li a.active .i-arr2{
  transform: rotate(180deg);
}
section .ans p{
  line-height: 1.5;
  padding-bottom: 22px;
>>>>>>> d59f4163d3b224d769d9b75fca51900e25892ce7
}
section .qna li a span {
  padding-left: 25px;
  padding-right: 15px;
  position: relative;
  line-height: 1.3;
}
<<<<<<< HEAD
section .qna li a span::before {
  content: "Q";
  color: red;

  position: absolute;
  top: 0;
  left: 0;
}
section .qna li a .i-arr2 {
  display: block;
  width: 14px;
  height: 8px;

  background-position: -108px -40px;
}
section .qna li:last-child {
=======

section .qna li a span::before{
  content: "Q";
  color: red;
  position: absolute;
  top: 0;
  left: 0;

}

section .qna li a .i-arr2 {
  display: block;
  width: 20px;
  height: 8px;
  background-position: -100px -40px;
}

section .qna li:last-child{
>>>>>>> d59f4163d3b224d769d9b75fca51900e25892ce7
  padding: 22px;
}
section .qna li .btn_more {
  background-color: #f7f7f7;
  text-align: center;
  width: 100%;
  padding: 15px;
}
<<<<<<< HEAD
section .qna li a.active .i-arr2 {
  transform: rotate(180deg);
}
section .all .qna .ans {
  display: none;

  background-color: #f7f7f7;
  padding: 34px 22px;
  color: #6f6f6f;
}
section .ans p {
  line-height: 1.5;
  padding-bottom: 22px;
}
section .ans p strong {
  font-weight: bold;
  display: block;
}

section .custom {
  text-align: center;
  padding: 20px;
}
section .custom a {
  padding: 18px;
  font-size: 13px;
}
section .custom a .i-tel {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-position: -18px -38px;

  position: relative;
  top: 3px;
}
=======

section .all .qna .ans {
  display: none;
}

section .ans p {}

section .ans p strong {}

section .custom {
  text-align: center;
  padding: 28px;
}

section .custom a {
  padding: 18px;
  font-size: 13px;
 
}

section .custom a .i-tel {
  width: 18px;
  height: 18px;
  display: inline-block;
  background-position: -18px -38px;
  position: relative;
  top: 3px;

}
>>>>>>> d59f4163d3b224d769d9b75fca51900e25892ce7
